# Zed editor config
.zedstate

# Don't include our sitemap tracking
sitemapping.json

# Encourage npm install / bower install for inclusion
node_modules/
bower_components/
npm-debug.log

# No build or dist files
public/
.build/

# Don't include our built css (assuming we're not writing css files directly)
assets/**/*.css

# No hidden directories (like apps/_ph)
**/_*