<header class="app-bar promote-layer">
  <div class="app-bar-container">
    <button class="menu"><img src="/assets/images/hamburger.svg" alt="Menu"></button>
    <h1 class="logo"><strong>pub</strong>hook</h1>
    <section class="app-bar-actions">
    <!-- Put App Bar Buttons Here -->
    <!-- e.g <button><i class="icon icon-star"></i></button> -->
    </section>
  </div>
</header>

<nav class="navdrawer-container promote-layer">
  <h4>Navigation</h4>
  <ul>
    <li><a href="#hello">Hello</a></li>
    <li><a href="#get-started">Get Started</a></li>
    <li><a href="/assets/styleguide.html" target="_blank">Style Guide</a></li>
  </ul>
</nav>