{# A Markdown Post #}

{# Extend the base template #}
{% extends "../partials/base.html" %}

{% block sidebar %}

  <aside class="g-wide--1 g-medium--1">
    <ul class="list-links list-links--primary">
      {% if ctx._parent or ctx._children %}
        <li class="list__item">
          <a href="/{% if ctx._parent %}{{ ctx._parent }}{% else %}{{ ctx._id }}{% endif %}" class="{% if !ctx._parent %}active{% endif %}">
            {% if ctx._parent %}
              {{ getById('markdown',ctx._parent).attributes.title }}
            {% else %}
              {{ ctx.attributes.title }}
            {% endif %}
          </a>
        </li>
      {% endif %}
      {% for menuItem in menuChildOrSibling('markdown') %}  
        <li class="list__item">
          <a href="/{{ menuItem._id }}" class="{% if isActiveUri(menuItem.__uri) %}active{% endif %}">{{ menuItem.attributes.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </aside>
{% endblock %}

{% block content %}
  <section class="g-wide--3 g-wide--last g-medium--2 g--last">
    <h2>{{ ctx.attributes.title }}</h2>
    
    {{ CONTENT }}
    
  </section>
{% endblock %}